:root {
  --primary-color: #051024;
  --text-color-primary: #ccc;
  --text-color-alt: #f2532b;
  --text-color-tri: #444;
  --button-background-color: #f2532b;
  --button-background-alt: transparent;
  font-size: calc(0.6em+1vw);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222;
}

li {
  list-style-type: none;
}
body {
  width: 100%;
}
img {
  width: 100%;
}
button {
  cursor: pointer;
}
