.container {
    width: 45%;
    padding: 1em 2.2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media screen and (max-width: 800px) {
        width: 100%;
    }

    > h1 {
        padding: 0.5em;
        position: relative;
    }

    >h1::before {
        content: '';
        border-bottom: solid thin var(--border-color-alt);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        padding: 1em;
        width: 2rem;
        height: 100%;
    }

    h4 {
        font-size: 0.8rem;
        padding: 1em;
        color: var(--text-color-tri);
    }

    button[type='submit'] {
        background: none;
        font-size: 1.2rem;
        color: var(--text-color-primary);
        background: var(--button-background-color);
        border: solid thin var(--border-color-alt);
        padding: 0.6em 3em;
        border-radius: 0.2rem;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2em;

    .input--group {
        flex-basis: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.1em;
        padding: 0.8em;
    }

    label {
        align-self: flex-start;
        color: var(--text-color-primary);
        opacity: 0.75;
        // padding: 0 0.4em;
    }

    input[type='text'], input[type='email'], input[type='password'] {
        color: var(--text-color-primary);
        width: 100%;
        background: none;
        border: none;
        border-bottom: solid thin var(--border-color);
        font-size: 1.2rem;
        margin: 0.2em 0;
        padding: 0.3rem 0;
    }

    input[type='password'] {
        padding: 0.2em;
        letter-spacing: 0.2em;
    }

    input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
        -webkit-transition: 'color 9999s ease-out, background-color 9999s ease-out';
        -webkit-transition-delay: 9999s;
    }
}
